<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
</head>
<body>
    <h2>検索欄</h2>
    <form method="post" action="/new">
        <p>科目名<input type="text" name="subject_name" size="30" placeholder="科目名を入力してください" ></p>
        <p>教室名<input type="text" name="class_room" size="30" placeholder="教室名を入力してください" ></p>
        <p>建物名<input type="text" name="day_time" size="30" placeholder="建物名を入力してください" ></p>
        <p><input type="submit" value="検索"></p>
    </form>

    <h2>検索結果</h2>
    <table>
        <tr>
            <td>科目名</td>
            <td>教室名</td>
            <td>時限</td>
        </tr>
        {{ range .search_result }}
        <tr>
            <td>{{ .Subject_name }}</td>
            
            
        </tr>
        {{ end }}
    </ul>
</body>
</html>