body {
    margin: 0;
    background-color: #ffffff;
}

#main {
    padding: 1em;
    margin: 0 auto;
    max-width: 50em;
}

#main-map {
    height: 50vh;
    z-index: 2;
}

#today-timetable {
    display: flex;
    margin-top: 1em;
    flex-direction: row;
    overflow: scroll scroll;
    column-gap: 10%;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#today-timetable::-webkit-scrollbar {
    display: none;
}


.timetable-week {
    width: 90%;
    margin: 0 5%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.timetable-row {
    display: grid;
    grid-template-columns: 2em 1fr;
    column-gap: 0.5em;
}

.timetable-time {
    text-align: center;
    background-color: #ffffff;
    width: 100%;

}

.today-timetable {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
}

.today-timetable p {
    margin: 0;
    padding: 0;
}

.timetable-classname {
    z-index: 9;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
}

.timetable {
    z-index: 888;

    padding: 0.5em 1em;
    background: -moz-linear-gradient(#2ca9e1, #2ca9e1);
    background: -webkit-linear-gradient(#2ca9e1, #2ca9e1);
    background: linear-gradient(to right, #2ca9e1, #2ca9e1);
    color: #000000;
}

.timetable p {
    margin: 0;
    padding: 0;
}
