body {
    margin: 0;
    background-color: #ffffff;
}

#main {
    padding: 1em;
    margin: 0 auto;
    max-width: 50em;
    z-index: 1;
}

#main-map {
    height: 50vh;
}

#timetable {
    display: flex;
    flex-direction: row;
    overflow: scroll scroll;
    column-gap: 10%;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#timetable::-webkit-scrollbar {
    display: none;
}

.timetable-week {
    width: 90%;
    margin: 0 5%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.timetable-row {
    display: grid;
    grid-template-columns: 2em 1fr;
    column-gap: 0.5em;
}

.timetable-time {
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    z-index: 9;
}

.timetable-classname {
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    z-index: 9;
}

.timetable-wrapper {
    margin-top: 1em;
    padding: 0.5em 1em;
    background: #2ca9e1;
}
