body {
    margin: 0;
}

#main {
    padding: 1em;
    margin: 0 auto;
    max-width: 50em;
}

#main-map {
    height: 50vh;
}

#today-timetable {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    column-gap: 10%;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#today-timetable::-webkit-scrollbar {
    display: none;
}

.timetable-week {
    width: 90%;
    margin: 0 5%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.timetable-row {
    display: grid;
    grid-template-columns: 2em 1fr;
    column-gap: 0.5em;
}

.timetable-time {
    text-align: center;
    background-color: #b3f7ff;
    width: 100%;
}

.timetable-classname {
    background-color: #b3f7ff;
}
