
header {
    height: 6rem;
    background-color: #fff;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 1fr 5rem;
    column-gap: 1rem;
    border-bottom: 1rem solid;
    border: #000;
}

/* ul{
    float: left;
} */

.title{
    font-size: 30px;
}

header>a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#headerimg{
    height: 80px;
    width: 80px;
    vertical-align: top;
}


.nav-item {
    margin: auto;
    /* 阪口 */
    text-decoration: none;
    color: #000;
}

li {
    display:flex;
}

.nav-name {
    font-size: 0.3rem;
}

.search-sub{
    text-decoration: none;
    color: #000;
    padding-left:30px;
}

div.center{
    text-align: center;
}

#title {
    font-size: 2rem;
    text-align:center
}

/* #headerimg{
    border-bottom: 3px double #ccc;
    max-width: 500px;
} */

.title{
    display: block;
    text-decoration: none;
    /* font-size: 100px; */
    color: black;
    position: absolute; 
    top: 20px;
    left: 80px;
}

.header-border{
    width: 100%;
    border-bottom: 3px solid #2ca9e1;
}



@media only screen and (max-device-width: 480px) {
	/* スマホ用のCSS */
    #headerimg{
        position: relative;
        left: -50px;
        top: -10px;
        height: 80px;
        width: 80px;
        /* vertical-align: bottom; */
    }
    .title{
        display: block;
        text-decoration: none;
        font-size: 100px;
        color: black;
        /* position: relative;  */
        top: 30px;
        left: 70px;
    }
}
