body {
    margin: 0;
}

#main {
    padding: 1em;
    margin: 0 auto;
    max-width: 50em;
}

.timetable-label {
    border: 1px solid black;
    width: 2em;
    text-align: center;
}

.timetable-cell {
    width: 10em;
    height: 3em;
    border: 1px solid black;
    text-align: center;
}

.choose{
    text-decoration: none;
}

#main{
    z-index: 9;
    position: fixed;
    /* top: 0px; */
    /* text-align: center; */
    margin: 0 auto;
    background-color: #fff;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #fff;/*背景色*/
}
#main p{
    margin: 0; 
    padding: 0;
}