<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <style type="text/css" media="screen">
        @charset "UTF-8";
        button {
            display: block;
            margin: 0 auto;
            padding: 10px 15px;
        }
        
    </style>
</head>
<body>
        <!-- フォーム -->
        <form method="post" action="#">

            <div class="title">
                <center>
                    <h1>ログイン</h1>
                    <p>ID, Passwordをご入力の上, 「認証」ボタンをクリックしてください.</p>
                </center>
            </div>
            
            <div class="input">
                <center>
                    <div class="input-id">
                        <input type="id" name="id" placeholder="ID" >
                    </div>
                    <br>
                    <div class="input-pass">
                        <input type="password" name="pass" placeholder="Password">
                    </div>
                </center>
            </div>

            <br>
            <button type="button" value="#">認証</button> 
            
        </form>
        <!-- ここまで -->

        <div class="new-registation">
            <center>
                <h2>新規登録はこちらから</h1>
                <p>ID, Passwordをお持ちでない方は初めに新規登録をしてください.</p>
            </center>
            <br>
            <a href="/registation/">
                <button type="button">新規登録</button>
            </a>
        </div>
    
</body>
</html>