<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="login2.css">
</head>
<body>
   <div>
        <!-- フォーム -->
        <form>
            <center>
                <h1>ログイン</h1>
                <p>ID, Passwordをご入力の上, 「認証」ボタンをクリックしてください.</p>
            </center>
            <div>
                 <center>
                    <div>
                        <input type="id" name="id" placeholder="ID">
                    </div>
                    <br>
                    <div>
                        <input type="password" name="pass" placeholder="Password"
                    </div>
                </center>
            </div>
            <br>
            <button type="button">認証</button>

            <div>
                <center>
                    <h2>新規登録はこちらから</h1>
                    <p>ID, Passwordをお持ちでない方は初めに新規登録をしてください.</p>
                </center>
            </div>
            <br>
            <button type="button">新規登録</button>

        </form>
   </div>
</body>
</html>